/* Reset */
*{
    margin: 0px;
    padding: 0px;
}

/* Variables */
:root {
    --lav-light:var(--lav-light): #fffff;
    --lav: #fffff;
}


/* Tipografía general */
body {
   font-family: open+sans;
}

/* HEADER */

.header-logo{
    width:20rem;
    max-width: 100%;
    height:auto;
    text-align:center;

}

/* FOOTER */

.footer{
    text-align: center;
}
.footer-logo{
    width:20rem;
    height:auto;
    text-align:center;
}
.icon{
    text-align: center;

}